openapi: 3.0.3
info:
  title: GoodLeap Developer Authorization & Elevation Management Loan Status API
  version: '2.0'
  description: 'The GoodLeap Developer API lets approved partners originate and manage sustainable home-improvement loans through their full lifecycle: authentication and elevation, offers and payment calculation, loan submission, status tracking, case/stipulation management, document upload, project and milestone management, change orders, notes, tags, and user management. Derived faithfully from the public GoodLeap Postman collection (paths, methods, parameters, and JWT bearer auth are as published); request/response schemas are intentionally minimal because the source collection does not publish full schemas.'
  x-derived-from: postman/good-leap-developer-api.postman_collection.json
servers:
- url: https://api.goodleap.com
  description: Production
- url: https://sandbox01-api.goodleap.com
  description: Sandbox / test
security:
- bearerAuth: []
tags:
- name: Loan Status
paths:
  /posfinancing/rest/v2/loans:
    get:
      operationId: listLoans
      summary: List Loans
      tags:
      - Loan Status
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Get a list of loans submitted by the client.
      parameters:
      - name: referenceNumber
        in: query
        required: false
        schema:
          type: string
      - name: tags
        in: query
        required: false
        schema:
          type: string
      - name: tags
        in: query
        required: false
        schema:
          type: string
  /posfinancing/rest/v2/loans/{id}:
    get:
      operationId: loanById
      summary: Loan by ID
      tags:
      - Loan Status
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Get the details of a Loan instance.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /posfinancing/rest/v2/loans/{id}/status:
    get:
      operationId: loanStatus
      summary: Loan Status
      tags:
      - Loan Status
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: "Get the current timestamps for the loan. \nThis can include milestones, document signing, approval status and more."
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /posfinancing/rest/v2/loans/{id}/offer:
    get:
      operationId: loanOfferDetails
      summary: Loan Offer Details
      tags:
      - Loan Status
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Get the details of the current offer associated with a loan ID.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /posfinancing/rest/v2/loans/{id}/timeline:
    get:
      operationId: loanTimeline
      summary: Loan Timeline
      tags:
      - Loan Status
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Get the loan timeline.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /posfinancing/rest/v2/loans/{id}/actions:
    get:
      operationId: nextAvailableLoanActions
      summary: Next Available Loan Actions
      tags:
      - Loan Status
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Get the next actions for a loan.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via POST /posfinancing/rest/v2/auth/token (organizationId), refreshed via /auth/token/refresh.
