openapi: 3.2.0
info:
  title: GoodLeap Developer Install Categories & Loan Limitations API
  version: '2.0'
  description: 'The GoodLeap Developer API lets approved partners originate and manage sustainable home-improvement loans through their full lifecycle: authentication and elevation, offers and payment calculation, loan submission, status tracking, case/stipulation management, document upload, project and milestone management, change orders, notes, tags, and user management.'
  x-derived-from: postman/good-leap-developer-api.postman_collection.json
servers:
- url: https://api.goodleap.com
  description: Production
- url: https://sandbox01-api.goodleap.com
  description: Sandbox / test
security:
- bearerAuth: []
tags:
- name: Install Categories & Loan Limitations
paths:
  /posfinancing/rest/v2/categories:
    get:
      operationId: installCategories
      summary: Install Categories
      tags:
      - Install Categories & Loan Limitations
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Returns a collection of categories.
  /posfinancing/rest/v2/categories/all/limitations:
    get:
      operationId: allLoanMinMaxValuesForStatesAndCategories
      summary: All Loan min/max values for states and categories
      tags:
      - Install Categories & Loan Limitations
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Get categories limitations
      parameters:
      - name: states
        in: query
        required: false
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          type: string
  /posfinancing/rest/v2/categories/{id}/limitations:
    get:
      operationId: loanMinMaxValuesByCategoryId
      summary: Loan min/max values by category ID
      tags:
      - Install Categories & Loan Limitations
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Get category limitations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via POST /posfinancing/rest/v2/auth/token (organizationId), refreshed via /auth/token/refresh.
