openapi: 3.2.0
info:
  title: GoodLeap Developer Authorization & Elevation Management Calculate Payments API
  version: '2.0'
  description: 'The GoodLeap Developer API lets approved partners originate and manage sustainable home-improvement loans through their full lifecycle: authentication and elevation, offers and payment calculation, loan submission, status tracking, case/stipulation management, document upload, project and milestone management, change orders, notes, tags, and user management. Derived faithfully from the public GoodLeap Postman collection (paths, methods, parameters, and JWT bearer auth are as published); request/response schemas are intentionally minimal because the source collection does not publish full schemas.'
  x-derived-from: postman/good-leap-developer-api.postman_collection.json
servers:
- url: https://api.goodleap.com
  description: Production
- url: https://sandbox01-api.goodleap.com
  description: Sandbox / test
security:
- bearerAuth: []
tags:
- name: Calculate Payments
paths:
  /posfinancing/rest/v2/itc-latest:
    get:
      operationId: currentItcPercentage
      summary: Current ITC Percentage
      tags:
      - Calculate Payments
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Get the current ITC percentage.
  /posfinancing/rest/v2/payments:
    get:
      operationId: monthlyLoanPayments
      summary: Monthly Loan Payments
      tags:
      - Calculate Payments
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Calculate estimated payments for offers.
      parameters:
      - name: offerIds
        in: query
        required: false
        schema:
          type: string
      - name: offerIds
        in: query
        required: false
        schema:
          type: string
      - name: amount
        in: query
        required: false
        schema:
          type: string
      - name: extraPaydownAmount
        in: query
        required: false
        schema:
          type: string
      - name: extraPaydownPercent
        in: query
        required: false
        schema:
          type: string
      - name: currencyType
        in: query
        required: false
        schema:
          type: string
      - name: promotionIds
        in: query
        required: false
        schema:
          type: string
      - name: promotionIds
        in: query
        required: false
        schema:
          type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via POST /posfinancing/rest/v2/auth/token (organizationId), refreshed via /auth/token/refresh.
