openapi: 3.2.0
info:
  title: GoodLeap Developer Loan Tag Management API
  version: '2.0'
  description: 'The GoodLeap Developer API lets approved partners originate and manage sustainable home-improvement loans through their full lifecycle: authentication and elevation, offers and payment calculation, loan submission, status tracking, case/stipulation management, document upload, project and milestone management, change orders, notes, tags, and user management.'
  x-derived-from: postman/good-leap-developer-api.postman_collection.json
servers:
- url: https://api.goodleap.com
  description: Production
- url: https://sandbox01-api.goodleap.com
  description: Sandbox / test
security:
- bearerAuth: []
tags:
- name: Loan Tag Management
paths:
  /posfinancing/rest/v2/loans/{id}/tags:
    post:
      operationId: addLoanTags
      summary: Add Loan Tags
      tags:
      - Loan Tag Management
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Add loan tags to a loan.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /posfinancing/rest/v2/loans/{id}/tags{batchDelete}:
    post:
      operationId: deleteLoanTags
      summary: Delete Loan Tags
      tags:
      - Loan Tag Management
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: Delete loan tags from a loan.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: batchDelete
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via POST /posfinancing/rest/v2/auth/token (organizationId), refreshed via /auth/token/refresh.
