openapi: 3.2.0
info:
  title: GoodLeap Developer States & Channels API
  version: '2.0'
  description: 'The GoodLeap Developer API lets approved partners originate and manage sustainable home-improvement loans through their full lifecycle: authentication and elevation, offers and payment calculation, loan submission, status tracking, case/stipulation management, document upload, project and milestone management, change orders, notes, tags, and user management.'
  x-derived-from: postman/good-leap-developer-api.postman_collection.json
servers:
- url: https://api.goodleap.com
  description: Production
- url: https://sandbox01-api.goodleap.com
  description: Sandbox / test
security:
- bearerAuth: []
tags:
- name: States & Channels
paths:
  /posfinancing/rest/v2/states:
    get:
      operationId: channelsByStates
      summary: Channels by States
      tags:
      - States & Channels
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: 'Get a collection of valid states for the client.

        Useful when searching for offers that are available to an applicant in their state.'
      parameters:
      - name: channels
        in: query
        required: false
        schema:
          type: string
      - name: channels
        in: query
        required: false
        schema:
          type: string
  /posfinancing/rest/v2/channels:
    get:
      operationId: statesByChannels
      summary: States by Channels
      tags:
      - States & Channels
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
      description: 'Get a collection of valid channels for the client.

        Useful when searching for offers that are available to an applicant given a channel under which the client

        wishes to operate.'
      parameters:
      - name: states
        in: query
        required: false
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via POST /posfinancing/rest/v2/auth/token (organizationId), refreshed via /auth/token/refresh.
